*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(161, 161, 161);
}

/*  ---  */
.sparks_box {
    width: 100%;
    height: 100%;

    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
                url('../img/harold.jpeg');
    background-position: center;
    background-size: cover;

    overflow: hidden;
    position: relative;
}

.focus {
    width: 200%;
    height: 200%;

    z-index: 2;
    position: absolute;
    -webkit-mask: radial-gradient(circle, #0000 60px, rgba(0, 0, 0, 0.9) 160px);
    backdrop-filter:blur(10px);
}

.spark_up {
    position: absolute;
    animation: 8s spark-fly-up infinite ease;
}

.spark {
    width: 10px;
    height: 10px;

    background-color: rgb(255, 60, 0);
    border-radius: 50%;

    animation-name: spark-fly-side, spark-color-change;
    animation-duration: 8s, 5s;
    animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955), ease-in-out;
    animation-iteration-count: infinite, infinite;
}

.touch_circle {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    animation: 4s spark-color-change infinite;
    position: absolute;
    top: -100px;
    left: -100px;
}

@keyframes spark-fly-up {
    0% {
        bottom: -5%;
    }
    100% {
        bottom: 105%;
    }
}
@keyframes spark-fly-side {
    0% {
        margin-left: 0px;
    }
    20% {
        margin-left: 100px;
    }
    40% {
        margin-left: 0px;
    }
    60% {
        margin-left: 100px;
    }
    80% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100px;
    }
}
@keyframes spark-color-change {
    0% {
        background-color: rgb(255, 60, 0);
    }
    10% {
        background-color: rgb(255, 186, 107);
    }
    20% {
        background-color: rgb(228, 61, 10);
    }
    70% {
        background-color: rgb(255, 30, 0);
    }
    85% {
        background-color: rgb(255, 186, 107);
    }
    90% {
        background-color: rgb(255, 30, 0);
    }
    100% {
        background-color: rgb(255, 60, 0);
    }
}

/*  ---  */
.content {
    width: 100%;

    display: flex;
    flex-direction: column;

    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
}

.amogus-header {
    color: white;
    font-size: 38px;
    text-align: center;

    margin: 40px 0 30px 0;
}

.text-amogus {
    color: white;
    font-size: 20px;
    text-align: center;

    margin: 0 20px;
}

.amogus-img {
    width: 200px;

    margin: 30px auto;
}